<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head profile="http://www.w3.org/2005/11/profile">
    <link rel="icon" type="image/png" href="images/favicon.png" />
    <link rel="apple-touch-icon" href="images/apple-favicon.png" />
    <title>{{ epesi }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
    <meta name="robots" content="NOINDEX, NOARCHIVE">

    {% if jsses_src is iterable %}
        {% for js in jsses_src %}
            <script type='text/javascript' src='{{ js | raw }}'></script>
        {% endfor %}
    {% else %}
        <script type='text/javascript' src='{{ jsses_src | raw }}'></script>
    {% endif %}


    {% if csses_src is iterable %}
        {% for css in csses_src %}
            <link type="text/css" href="{{ css | raw }}" rel="stylesheet">
        {% endfor %}
    {% else %}
        <link type="text/css" href="{{ csses_src | raw }}" rel="stylesheet">
    {% endif %}


    <style type="text/css">
        {% if rtl %}
            body { direction: rtl; }
        {% endif %}

        #epesiStatus {
            /* Netscape 4, IE 4.x-5.0/Win and other lesser browsers will use this */
            position: fixed;
            left: 50%; top: 30%;
            margin-left: -280px;
            /* all */
            /*background-color: #e6ecf2;*/
            background-color: white;
            border: 5px solid #336699;
            visibility: hidden;
            width: 560px;
            text-align: center;
            vertical-align: middle;
            z-index: 2002;
            color: #336699;
            overflow: hidden;

            /* css3 shadow border*/
            -webkit-box-shadow: 1px 1px 15px black;
            -moz-box-shadow: 1px 1px 15px black;
            box-shadow: 1px 1px 15px black;
            /* end css3 shadow border*/

            /* border radius */
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            border-radius: 6px;
            /* end border radius */
        }
        #epesiStatus table {
            color: #336699;
            font-weight: bold;
            font-family: Tahoma, Verdana, Vera-Sans, DejaVu-Sans;
            font-size: 11px;
            border: 5px solid #FFFFFF;
        }

    </style>
    {{ tracking_code | raw }}
</head>


<body {% if rtl %}class="epesi_rtl"{% endif %}>

<div id="body_content">
    <div id="main_content" style="display:none;"></div>
    <div id="debug_content" style="padding-top:97px;display:none;">
        <div class="button" onclick="$('error_box').innerHTML='';$('debug_content').style.display='none';">Hide</div>
        <div id="debug"></div>
        <div id="error_box"></div>
    </div>

    <div id="epesiStatus">
        <table cellspacing="0" cellpadding="0" border="0" style="width: 100%;">
            <tr>
                <td><img src="images/logo.png" alt="logo" width="550" height="200" border="0"></td>
            </tr>
            <tr>
                <td style="text-align: center; vertical-align: middle; height: 30px;"><span id="epesiStatusText">{{ starting_message }}</span></td>
            </tr>
            <tr>
                <td style="text-align: center; vertical-align: middle; height: 30px;"><img src="images/loader.gif" alt="loader" width="256" height="10" border="0"></td>
            </tr>
        </table>
    </div>
</div>

{% if init_js.include %}
    <script type="text/javascript">{{ init_js.content | raw}}</script>
{% else %}
    <script type="text/javascript" src="init_js.php?{{ init_js.query | raw}}"></script>
{% endif %}

<noscript>Please enable JavaScript in your browser and let {{ epesi }} work!</noscript>
</body>
</html>