<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head profile="http://www.w3.org/2005/11/profile">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <title>{{ epesi }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
    <meta name="robots" content="NOINDEX, NOARCHIVE">

    {% if jsses_src is iterable %}
        {% for js in jsses_src %}
            <script type='text/javascript' src='{{ js | raw }}'></script>
        {% endfor %}
    {% else %}
        <script type='text/javascript' src='{{ jsses_src | raw }}'></script>
    {% endif %}


    {% if csses_src is iterable %}
        {% for css in csses_src %}
            <link type="text/css" href="{{ css | raw }}" rel="stylesheet">
        {% endfor %}
    {% else %}
        <link type="text/css" href="{{ csses_src | raw }}" rel="stylesheet">
    {% endif %}


    <style type="text/css">
        {% if rtl %}
            body { direction: rtl; }
        {% endif %}

        #epesi_status {
            background-color: white;
            position: fixed;
            left: 50%;
            top: 30%;
            margin-left: -280px;
            width: 560px;
            text-align: center;
            vertical-align: middle;
            z-index: 2002;
            overflow: hidden;

            -webkit-box-shadow: 1px 1px 15px black;
            -moz-box-shadow: 1px 1px 15px black;
            box-shadow: 1px 1px 15px black;

            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            border-radius: 40px;
        }

        #epesi_status .text {
            margin-bottom: 50px;
            font-size: 22px;
        }

        #epesi_status .spinner {
            margin: 0 auto 50px;
            text-align: center;
        }

        #epesi_status .spinner > div {
            width: 18px;
            height: 18px;
            background-color: #333;

            border-radius: 100%;
            display: inline-block;
            -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
            animation: sk-bouncedelay 1.4s infinite ease-in-out both;
        }

        #epesi_status .spinner .bounce1 {
            -webkit-animation-delay: -0.32s;
            animation-delay: -0.32s;
        }

        #epesi_status .spinner .bounce2 {
            -webkit-animation-delay: -0.16s;
            animation-delay: -0.16s;
        }

        @-webkit-keyframes sk-bouncedelay {
            0%, 80%, 100% { -webkit-transform: scale(0) }
            40% { -webkit-transform: scale(1.0) }
        }

        @keyframes sk-bouncedelay {
            0%, 80%, 100% {
                -webkit-transform: scale(0);
                transform: scale(0);
            } 40% {
                  -webkit-transform: scale(1.0);
                  transform: scale(1.0);
              }
        }

    </style>
    {{ tracking_code | raw }}
</head>


<body {% if rtl %}class="epesi_rtl"{% endif %}>

<div id="body_content">
    <div id="main_content" style="display:none;"></div>
    <div id="debug_content" style="padding-top:97px;display:none;">
        <div class="button" onclick="$('error_box').innerHTML='';$('debug_content').style.display='none';">Hide</div>
        <div id="debug"></div>
        <div id="error_box"></div>
    </div>

</div>

<div id="epesi_status" style="display: none">
    <img src="images/epesi_logo_RGB_Gradient.png" width="100%">
    <div class="text" style="display: none">{{ starting_message }}</div>
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>

{% if init_js.include %}
    <script type="text/javascript">{{ init_js.content | raw}}</script>
{% else %}
    <script type="text/javascript" src="init_js.php?{{ init_js.query | raw}}"></script>
{% endif %}

<noscript>Please enable JavaScript in your browser and let {{ epesi }} work!</noscript>
</body>
</html>