<div id="main_content">
    {{ content | raw }}
</div>

<div id="debug_content" style="padding-top:97px;display:none;">
    <div class="button" onclick="$('error_box').innerHTML='';$('debug_content').style.display='none';">Hide</div>
    <div id="debug">
        {{ debug | raw }}
    </div>
    <div id="error_box"></div>
</div>

<script type="text/javascript">
    {% for js in load_js %}
        Epesi.load_js('{{ js | e('js') }}');
    {% endfor %}

    Epesi.append_js('{{ eval_js | e('js')}}');


    {% for css in load_css %}
        jQuery('head').append( jQuery('<link rel="stylesheet" type="text/css" \/>').attr('href', '{{ css | raw }}') );
    {% endfor %}
</script>