<div id="main_content" style="display: none">
    {{ content | raw }}
</div>

{% if debug is not null %}
    <div id="debug_content">
        <div id="debug">
            {{ debug | raw }}
        </div>
    </div>
{% endif %}

<script type="text/javascript">
    {% for js in load_js %}
        Epesi.load_js('{{ js | e('js') }}');
    {% endfor %}

    Epesi.append_js('{{ eval_js | e('js')}}');


    {% for css in load_css %}
        jQuery('head').append( jQuery('<link rel="stylesheet" type="text/css" \/>').attr('href', '{{ css | raw }}') );
    {% endfor %}
</script>