{% if search_form %}
    {{ form_start(search_form) }}
    {{ form_widget(search_form) }}
    <input type="submit" class="btn btn-default" name="login" value="Submit">
    {{ form_end(search_form) }}
{% endif %}

{% if letter_links %}
<button class="abc btn btn-primary">ABC</button>
<div class="letters" style="display: none">
    {% for letter in letter_links %}
        <a class="badge" {{ letter.href | raw }}>{{ letter.label }}</a>
    {% endfor %}
</div>
{% endif %}

<table id="table_{{ id }}" class="table table-condensed">
    <thead>
        <tr>
            {% if enable_actions and actions_position == 0 %}<th>Actions</th>{% endif %}
            {% for column in columns %}
                {% set sort_icon %}
                    {% if column.sort == 'asc' %}<a {{ column.change_order_href | raw }}><i class="fa fa-sort-asc"></i></a>{% endif %}
                    {% if column.sort == 'desc' %}<a {{ column.change_order_href | raw }}><i class="fa fa-sort-desc"></i></a>{% endif %}
                    {% if column.sort is null %}<a {{ column.change_order_href | raw }}><i class="fa fa-sort"></i></a>{% endif %}
                {% endset %}
                <th nowrap>{{ sort_icon }} {{ column.name }}</th>
            {% endfor %}
            {% if enable_actions and actions_position != 0 %}<th>Actions</th>{% endif %}
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
            {% set row_num = loop.index %}
            {% set actions %}
                {% for action in row.actions %}
                    {% set action_num = loop.index %}
                    <a data-action-num="{{ action_num }}" {{ action.href | raw }} {% if action.tooltip %}data-toggle="popover" class="popover-info"{% else %} title="{{ action.label }}" {% endif %}><i class="fa fa-{{ action.icon }}"></i></a>
                    {% if action.tooltip %}
                        <div data-action-num="{{ action_num }}" class="tooltip-data" style="display: none">{{ action.tooltip | raw }}</div>
                    {% endif %}
                {% endfor %}
            {% endset %}
            <tr data-row-num="{{ row_num }}">
                {% if enable_actions and actions_position == 0 %}<td>{{ actions }}</td>{% endif %}
                {% for col in row.columns %}
                    <td>{{ col.label | raw }}</td>
                {% endfor %}
                {% if enable_actions and actions_position != 0 %}<td>{{ actions }}</td>{% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>
<div>{{ summary | raw }}</div>

{% if pagination_form %}
    {{ form_start(pagination_form) }}
    {{ form_widget(pagination_form) }}
    {{ form_end(pagination_form) }}
{% endif %}

{% if pagination %}
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default" title="{{ pagination.first.label | raw }}" {% if pagination.first is null %}disabled="disabled"{% endif %} {{ pagination.first.href | raw }}><i class="fa fa-angle-double-left"></i></button>
        <button type="button" class="btn btn-default" title="{{ pagination.prev.label | raw }}" {% if pagination.prev is null %}disabled="disabled"{% endif %} {{ pagination.prev.href | raw }}><i class="fa fa-angle-left"></i></button>
        <button type="button" class="btn btn-default" title="{{ pagination.next.label | raw }}" {% if pagination.next is null %}disabled="disabled"{% endif %} {{ pagination.next.href | raw }}><i class="fa fa-angle-right"></i></button>
        <button type="button" class="btn btn-default" title="{{ pagination.last.label | raw }}" {% if pagination.last is null %}disabled="disabled"{% endif %} {{ pagination.last.href | raw }}><i class="fa fa-angle-double-right"></i></button>
    </div>
{% endif %}