{% if search_form %}
    {{ form_start(search_form) }}
    {{ form_widget(search_form) }}
    <input type="submit" class="btn btn-default" name="login" value="Submit">
    {{ form_end(search_form) }}
{% endif %}

<div>
    {% for letter in letter_links %}
        <a class="badge" {{ letter.href | raw }}>{{ letter.label }}</a>
    {% endfor %}
</div>

<table id="table_{{ id }}" class="table table-condensed">
    <thead>
        <tr>
            {% if enable_actions and actions_position == 0 %}<th>Actions</th>{% endif %}
            {% for column in columns %}
                {% set sort_icon %}
                    {% if column.sort == 'asc' %}<a class="pull-right" {{ column.change_order_href | raw }}><i class="fa fa-sort-asc"></i></a>{% endif %}
                    {% if column.sort == 'desc' %}<a class="pull-right" {{ column.change_order_href | raw }}><i class="fa fa-sort-desc"></i></a>{% endif %}
                    {% if column.sort is null %}<a class="pull-right" {{ column.change_order_href | raw }}><i class="fa fa-sort"></i></a>{% endif %}
                {% endset %}
                <th nowrap>{{ column.name }} {{ sort_icon }}</th>
            {% endfor %}
            {% if enable_actions and actions_position != 0 %}<th>Actions</th>{% endif %}
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
            {% set row_num = loop.index %}
            {% set actions %}
                {% for action in row.actions %}
                    {% set action_num = loop.index %}
                    <a data-action-num="{{ action_num }}" {{ action.href | raw }} {% if action.tooltip %}data-toggle="popover" class="popover-info"{% else %} title="{{ action.label }}" {% endif %}><i class="fa fa-{{ action.icon }}"></i></a>
                    {% if action.tooltip %}
                        <div data-action-num="{{ action_num }}" class="tooltip-data" style="display: none">{{ action.tooltip | raw }}</div>
                    {% endif %}
                {% endfor %}
            {% endset %}
            <tr data-row-num="{{ row_num }}">
                {% if enable_actions and actions_position == 0 %}<td>{{ actions }}</td>{% endif %}
                {% for col in row.columns %}
                    <td>{{ col.label | raw }}</td>
                {% endfor %}
                {% if enable_actions and actions_position != 0 %}<td>{{ actions }}</td>{% endif %}
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr><td colspan="{{ columns|length }}">{{ summary | raw }}</td></tr>
    </tfoot>
</table>

{% if pagination_form %}
    {{ form_start(pagination_form) }}
    {{ form_widget(pagination_form) }}
    {{ form_end(pagination_form) }}
{% endif %}


{% if pagination %}
<div>
    {% if pagination.first %}
        <a class="btn btn-primary" {{ pagination.first.href | raw }}>{{ pagination.first.label }}</a>
    {% endif %}

    {% if pagination.prev %}
        <a class="btn btn-primary" {{ pagination.prev.href | raw }}>{{ pagination.prev.label }}</a>
    {% endif %}

    {% if pagination.next %}
        <a class="btn btn-primary" {{ pagination.next.href | raw }}>{{ pagination.next.label }}</a>
    {% endif %}

    {% if pagination.last %}
        <a class="btn btn-primary" {{ pagination.last.href | raw }}>{{ pagination.last.label }}</a>
    {% endif %}
</div>
{% endif %}