<div>
    <ul class="nav nav-tabs">
        {% for tab in captions %}
            {% if tab.__submenu__ == true %}
                <li role="presentation" class="dropdown {% if tab.selected %}active{% endif %}">
                    <a href="#" id="{{ tab.id }}" class="dropdown-toggle" data-toggle="dropdown">
                        {{ tab.label }} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" id="{{ tab.id }}-contents">
                        {% for sub in tab.entries %}
                            <li class="{% if sub.selected %}active{% endif %}">
                                <a {{ sub.href | raw }} id="{{ sub.id }}">
                                    {{ sub.caption }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% else %}
                <li role="presentation" {% if tab.selected %}class="active"{% endif %} {% if tab.js %}data-toggle="tab"{% endif %}>
                    {% if tab.js %}
                        <a id="{{ tab.id }}" href="#{{ tab.body_id }}">{{ tab.caption }}</a>
                        <script>
                            jQuery('#{{ tab.id }}').click(function (e) {
                                e.preventDefault();
                                jQuery(this).tab('show')
                            })
                        </script>
                    {% else %}
                        <a id="{{ tab.id }}" {{ tab.href | raw }}>{{ tab.caption }}</a>
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <div class="tab-content">
        {% for body in tabs_body %}
            {{ body | raw }}
        {% endfor %}
    </div>
</div>