<div class="panel panel-primary">
	<!-- Default panel contents -->
	<div class="panel-heading">{{ caption | raw}}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
        </div>
    <div class="panel-body">
        {{ table | raw }}
    </div>
</div>