<div class="panel panel-primary">
	<!-- Default panel contents -->
	<div class="panel-heading"><img src="{{ icon }}"> {{ caption | raw}}
        {% if form %}
            <div class="pull-right">
                {{ form_start(form) }}
                {{ form_widget(form.browse_mode) }}
                {{ form_end(form) }}
            </div>
        {% endif %}
        </div>
    <div class="panel-body">
        {{ table | raw }}
    </div>
</div>