<div class="panel panel-primary">
	<!-- Default panel contents -->
	<div class="panel-heading"><img src="{{ icon }}"> {{ caption | raw}}
        {% if form %}
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        {% endif %}
        </div>
    <div class="panel-body">
        {#<div>{{ filters | raw }}#}
        {{ table | raw }}
    </div>
</div>