<div class="panel panel-default">
    {% if main_page %}
        <div class="panel-heading"><img src="{{ icon | raw }}">&nbsp;{{ caption | raw }}
            {% if options.subscription_tooltip %}{{ options.subscription_tooltip | raw }}{% endif %}
            {% if options.fav_tooltip %}{{ options.fav_tooltip | raw }}{% endif %}
            {% if options.info_tooltip %}{{ options.info_tooltip | raw }}{% endif %}
            {% if options.clipboard_tooltip %}{{ options.clipboard_tooltip | raw }}{% endif %}
            {% if options.history_tooltip %}{{ options.history_tooltip | raw }}{% endif %}
            {% for new in options.new %}
                {{ new | raw }}
            {% endfor %}
        </div>
    {% endif %}
    <div class="panel-body row">
        {% for field in fields %}
            <div class="col-md-2">
                <div id="rb_field_{{ field.element }}" class="panel panel-{{ field.color }}">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ field.label | raw }} {% if field.required %}<i data-toggle="tooltip" data-placement="bottom" title="{{ required_tooltip }}" class="fa fa-exclamation-circle" style="color: red"></i> {% endif %}</h3>
                    </div>
                    <div class="panel-body">
                        {{ field.html | raw }}&nbsp;
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>