{% for icon in icons %}
                <button {{ icon.action|raw }} type="button" class="btn btn-default navbar-btn epe-btn" data-toggle="tooltip" data-placement="bottom" title="{{ icon.description }}">
                        <i class="fa fa-{{ icon.icon }}"></i>
                        &nbsp;{{ icon.label }}
                </button>
{% endfor %}

{% for icon in launcher %}
        <button {{ icon.action|raw }} type="button" class="btn btn-default navbar-btn epe-btn pull-right"><i class="fa fa-{{ icon.icon }}">&nbsp;{{ icon.label }}</i></button>
{% endfor %}